*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
}

body{
    max-width: 100vw;
    min-height: 100vh;
    background-color: #FDFFFF;
    color: #272D2D;
}

h1{
    font-size: 1.5rem;
    font-family: "Gowun Batang", serif;
}

p, a, span{
    font-size: 0.78rem;
}

p{
    margin-bottom: 16px;
}

span{
    margin-top: 16px;
}

p:last-child{
    margin: 48px 0 16px 0;
}

header{
    box-shadow: 1px 1px 10px #272D2D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

#logo{
    width: 144px;
}

#menu {
    z-index: 1;
    background-color: #272D2Dca;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    list-style: none;
}

#menu a{
    padding: 16px;
    border: 1px solid #FDFFFF;
    border-radius: 4px;
    background-color: #272D2D;
    color: #FDFFFF;
    text-decoration: none;
}

#abrirMenuMobile, #fecharMenuMobile{
    height: 32px;
}

#fecharMenuMobile{
    z-index: 2;
    display: none;
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    padding: 0 32px;
}

main section img{
    border-radius: 8px;
    width: 100%;
    margin:32px 0;
}

.hidden-mobile{
    display: none;
}

footer{
    height: 80px;
    box-shadow: 1px 1px 10px 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.icons{
    width: 48px;
    margin-left: 16px;
}